html,body{
	height:100% !important;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background-color: #213540;
	color: #fff;
}
#page {
	min-width: 22em;
	max-width: 44em;
	margin: 2px auto;
	padding: 0px;
	border: 2px solid #666666;
}

header {
	text-align: center;
	margin: .25em;
	padding: .25em;
	text-align: center;
	height: 4.5em;
	line-height: 4em;
	background-color: #808000;
	/*width: 6em;
	
	line-height: 4em;
	-moz-border-radius: 25% 40%;
	-webkit-border-radius: 25% 40%;*/
}
#map-canvas{
	height:20em;
	margin: .25em;
	padding: .25em;
}
#content {
	position:relative;
}
#content:after {
	content:"";
	clear: both;
}
.tile {
	position: relative;
	color: #fff;
}
.tile a {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: block;
	z-index: 999;
}
.tile.mini {
	width: 10em;
	height: 10em;
	line-height: 10em;
	text-align: center;
	margin: .25em;
	padding: .25em;
	display: inline-block;
	float: left;
}
.tile-box {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
.tile-box img {
	max-width: 100%;
}
.black-text {
	color: #000;
}

/*biplob added*/

.driver-rate{
	cursor: pointer;
	margin: 5px auto;
	color: #000000;
	padding: 5px;
	border: 2px solid #000000;
	width: 300px;
}

.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}

#job_summary{
	margin-top: 10px;
	padding-top: 20px;
	margin: auto;
	padding-bottom: 15px;
	color: #000;
	}

.comments, .mapping{ height:200px; width: 300px; border: 4px solid #000000; margin: 10px auto;}

.button_center{
	margin:auto 0;
	}

.get-quote-bg{
	background-color:#ffc300;
}
.content-position{
	margin: 0.25em;
	padding: 0.25em 2em;
}
.get-quote-bg h2{ color: #000000;}
.get-quote-bg lable.ui-input-text, .get-quote-bg .label-color, .get-quote-bg .ui-select{ color: #000000;}
.get-quote-bg .ui-btn{ padding: 3px 0 !important;}
.my-profile-bg{
	background-color:#519f09;
}
.help-bg{
	background-color:#57bae8;
}
.sign-out-bg{
	background-color:#e05338;
}

.flip-1{ background: #fff; cursor: pointer; color: #000; margin: .5em 0 .5em 0; padding: .55em .25em;}
.flip-1 label{ cursor: pointer;}
.panel-1{ color: #000; padding: .55em .25em;}

.ui-corner-all{ -webkit-border-radius:0em !important;
 border-radius:0em !important;
}

div.ui-input-text input.ui-input-text, div.ui-input-text textarea.ui-input-text, .ui-input-search input.ui-input-text{
 padding-left: 5px !important;

 }
.ui-input-search, div.ui-input-text{
 
 margin:0px !important;}
 
div.ui-input-text{
 padding:0px !important;}
 
 div.bcs_margin{ margin: 5px 0 10px 0 !important;}
 
 /*jahid code*/
 
 div#form_content{
 margin:0 25px;}
 
 div.input_bottom_space{
 margin-top:5px !important;
 margin-bottom:20px !important;
}

#content_up{
 padding:5px;
 margin:4px;
 }
 
.ui-body{ margin: .25em 0;}

.get-quote-bg .ui-btn-inner{
 border-top: 0px solid #fff !important;
}

#dist_button label{
	cursor:pointer;
	}
#my-locatipn {
float: right;
cursor: pointer;
}